<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/highstock.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/lodash.min.js"></script>

</head>
<body ng-app="myApp">


<div class="container" ng-controller="all">


    <div class="row">
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>


    <div class="row">
        <div class="col-md-6" id="table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Значение</th>
                    <th>Отобразить</th>
                    <!--<th>Username</th>-->
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="metric in metrics|orderBy:'id':true">
                    <td>{{metric.id}}</td>
                    <td>{{metric.value}}</td>
                    <td>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox1" ng-model="seriesVisible[metric.id]"> on
                        </label>
                     </td>
                    <!--<td>@fat</td>-->
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-6">


            <button class="btn">Задать новые значения</button>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>
</div>
<script src="/static/js/app.js"></script>
</body>
</html>